@import 'constants/colors.scss';

.html {
    font-family: Hind;

}
.navbar{
    display: inline-block;
}
.navbar .search-box{
    border-radius: 100px;
    background-color: #ECECEC;
}
.navbar .logo{
    
}

.navbar .search-box .search-placeholder{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.main-container 
.head-content-container 
.main-image{


}