@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');


html{
    font-family: 'Hind', sans-serif;

    .navbar{
        display: inline-block;

        .search-box{
            border-radius: 100px;
            background-color: #ECECEC;

            .search-placeholder{
                border: none;
                background-color: transparent;
                resize: none;
                outline: none;
                opacity: 60%;
            }
        }

        .nav-menu{
            opacity: 60%;
        }
    }
    .posts{
        .head-post-wrapper{
            .head-post-content{
                .author{
                    .position{
                        opacity: 60%;
                    }
                }
            } 
        }
    }

}